[default]
api-url = https://internal.api.dev.testing-farm.io
api-key = {{ credentials.testing_farm.production.redhat.worker_api_key }}
# TFT-712
retry-timeout = 600
enable-pipeline-cancellation = true
