[default]
api-url = https://internal.api.dev.testing-farm.io
api-key = {{ credentials.testing_farm.production.public.users.worker.token }}
# TFT-712
retry-timeout = 600
enable-pipeline-cancellation = true
